
#logo{
    width: 75%;
}

:root{
   --encabezado: #3432CA;
}   
#menu{
    background-color: var(--encabezado) !important;
}


.nav-link{
    color: rgb(13, 16, 18);
    font-weight: bold;
}
.nav-link:hover{
    color: blueviolet;
}
/* foooter*/
#page-footer{
    background-color: var(--encabezado);
}

#page-footer a{
    color: aliceblue;

}
#page-footer .ftcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding: 40px 0;
    flex-wrap: nowrap;
}
#footer__menu{
    max-width: 300px;
    grid-column: 1/3;
    grid-row-start: 1;
    padding-left: 1em;
}
#footer__menu figure{
    width: 100%;
    padding: 0;
    margin-top: 10px;

}
#page-footer .ftcontainer {
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 70px 0; 
}
.footer__info{
    color: #080404;
    line-height: 30px;
    font-size: 1.0rem;;
}
.footer__link:nth-child(1){
    border-left: 2px solid #c8cf0b;
}
.footer__link:nth-child(2){
    border-left: 2px solid #1155d4;
}
.footer__link:nth-child(3){
    border-left: 2px solid #cd0e0e;
}
.footer-credits{
    width: 100%;
    color: #4118c9;
    text-align: center;
    background-color: #2d6a98;
}
#novedades{
    display: flex;
    justify-content: end;
   

}
.promocion{
    display: inline;
    display: flex;
    justify-content: center;
   
}

/* pagina de contacto */
#contacto .titulo {
    width: 100%;
    margin-top: 105px;
    text-align: center;
}
/* simulador */
#simulador .titulo{
    width: 100%;
    text-align: center;
    margin-top: 115px;
}
.img-fluid{
    width: 100vw;
    height: 500px;
    margin-top: 105px;
    text-align: center;
}
.img-fluiddos{
    width: 100vw;
    height: 600px;
    margin-top: 105px;
    
    text-align: center;
}
#carouselExampleIndicators{

    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    
    
    
    
}