#logo{
    width: 75%;
}

:root{
   --encabezado: #8fe6ec;
}   
#menu{
    background-color: var(--encabezado) !important;
}
.nav-link{
    color: rgb(17, 109, 171);
    font-weight: bold;
}
.nav-link:hover{
    color: blueviolet;
}
/* foooter*/
#page-footer{
    background-color: var(--encabezado);
}

#page-footer a{
    color: aliceblue;

}
#page-footer .ftcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding: 40px 0;
    flex-wrap: nowrap;
}
#footer__menu{
    max-width: 300px;
    grid-column: 1/3;
    grid-row-start: 1;
    padding-left: 1em;
}
#footer__menu figure{
    width: 100%;
    padding: 0;
    margin-top: 10px;

}
#page-footer .ftcontainer {
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 70px 0; 
}
.footer__info{
    color: #d80707;
    line-height: 30px;
    font-size: 1.0rem;;
}
.footer__link:nth-child(1){
    border-left: 2px solid #dee516;
}
.footer__link:nth-child(2){
    border-left: 2px solid #4118c9;
}
.footer__link:nth-child(3){
    border-left: 2px solid #8a0d37;
}
.footer-credits{
    width: 100%;
    color: #4118c9;
    text-align: center;
    background-color: #8a0d37;
}
/* pagina de contacto */
#contacto .titulo {
    width: 100%;
    margin-top: 105px;
    text-align: center;
}